# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.
name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
trigger: none
pr: none

resources:
  pipelines:
  - pipeline: _1es-EntraPowerShell-CI
    source: 1es-EntraPowerShell-CI
  repositories:
  - repository: 1ESPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/heads/main

extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    pool:
      name: MSSecurity-1ES-Build-Agents-Pool
      image: MSSecurity-1ES-Windows-2022
      os: windows
    sdl:
      sourceAnalysisPool:
        name: MSSecurity-1ES-Build-Agents-Pool
        image: MSSecurity-1ES-Windows-2022
        os: windows
    stages:
    - stage: release
      jobs:
      - job: approval
        displayName: Approval
        pool: server
        timeoutInMinutes: 720
        templateContext:
          type: releaseJob
          isProduction: true
        steps:
        - task: ApprovalTask@1
          inputs:
            environment: Production
            servicetreeguid: f3970205-d841-45de-8b2d-3a7d45846ae1

      - job: release
        dependsOn: approval
        condition: succeeded('approval')
        templateContext:
          type: releaseJob
          isProduction: true
        steps:
        - task: 1ES.DownloadPipelineArtifact@1
          inputs:
            pipeline: _1es-EntraPowerShell-CI
            artifactName: drop
            targetPath: '$(System.ArtifactsDirectory)/drop'
        - task: 1ES.PublishNuget@1
          displayName: Publish Nuget package
          inputs:
            useDotNetTask: false
            packagesToPush: '$(System.ArtifactsDirectory)/drop/Microsoft.Entra.*.nupkg'
            packageParentPath: '$(System.ArtifactsDirectory)'
            nuGetFeedType: external
            publishFeedCredentials: EntraPowerShell_PSGallery
