# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.
# https://aka.ms/yaml

name: $(SourceBranchName)-PR-$(Date:yyyy-MM-dd)$(Rev:.r)

trigger:
- main

pr:
- main

pool:
  vmImage: windows-latest
stages:
- stage: Build
  displayName: 'Build Compatibility Adapter'
  jobs:
  - job: Build
    displayName: Microsoft Graph Compatibility Adapter Build and Artifact Generations
    steps:
      - template: ./generation-templates/generate_adapter.yml
        parameters:
          Sign: false